@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "Chrip";
  src: url("../public/font/chirp-regular-web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chrip";
  src: url("../public/font/chirp-medium-web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Chrip";
  src: url("../public/font/chirp-bold-web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Chrip";
  src: url("../public/font/chirp-heavy-web.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: "Chrip";
}

@theme {
  --color-base-dark-primary: #0f0f0f;
  --color-base-dark-secondary: #1e1e1e;
  --color-base-dark-tertiary: #272727;
  --color-base-dark-accent: #363636;

  --color-font-dark-primary: #ffffff;
  --color-font-dark-secondary: #b9b9b9;
  --color-font-dark-muted: #5e5e5e;

  --color-base-light-primary: #ffffff;
  --color-base-light-secondary: #f5f5f5;
  --color-base-light-tertiary: #e0e0e0;
  --color-base-light-accent: #cccccc;

  --color-font-light-primary: #1a1a1a;
  --color-font-light-secondary: #555555;
  --color-font-light-muted: #8a8a8a;
}

